/*--------------------------------------------------------------
.1 Main Layout
--------------------------------------------------------------*/
body {
	background: $color__gray-light;
	//background: #fff;
}

#masthead,
#colophon {
	background: $color__blue-dark;
	clear: both;
	padding: 2em 0;
}

#content {
	background: #ffffff;
	padding: 1.6em;
}

/*--------------------------------------------------------------
.2 Header
--------------------------------------------------------------*/
@import "layout/header";

/*--------------------------------------------------------------
.3 Footer
--------------------------------------------------------------*/
@import "layout/footer";