.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	ul {
		margin: 0;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* Secondary widgets */
#secondary .widget {

	h3 {
		border-left: 4px solid $color__blue-light;
		color: $color__gray;
		line-height: 16px;
		margin: .6em 0 .4em 0;
		padding: 0 0 0 4px;
	}
}

/* Frontpage widgets */
@import "frontpage";

/* Footer  widgets */
@import "footer";