/* Temporary */
@import url(http://fonts.googleapis.com/css?family=Glegoo:400,700|Cabin:400,600,700|Ropa+Sans|Bitter:400,700|Crete+Round|Rokkitt|Montserrat:400,700|Oswald:400,700|Roboto+Slab:400,700|Signika:400,700,600|Nunito|Bree+Serif|Inconsolata:400,700|Varela+Round|Sanchez);
$font__main: sans-serif;
$font__headline: 'Sanchez', serif;//Bitter, Rokkitt, Roboto Slab, Sanchez

//$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;