.portfolio {

}

.portfolio-sidebar {
	margin-top: 4.1em; /* .entry-content top margin + h1.entry-title line-height - h3 top margin*/

	.post-navigation {
		clear: both;

		&:before,
		&:after {
			@include clearfix;
		}

		a {
			text-decoration: none;
		}
	}

	.portfolio-type-links {

	}

	h3 {
		border-left: 4px solid $color__blue-light;
		color: $color__gray;
		display: block;
		line-height: 16px;
		margin: .6em 0 .4em 0;
		padding: 0 0 0 4px;
	}

	ul {
		&:before,
		&:after {
			@include clearfix;
		}

		&:after {
			@include clearfix-after;
		}

		clear: both;
		list-style: none;
		margin: 0 0 1.6em 0;;
		padding: 0;

		li {
			display: inline;

			a {
				border: 2px solid $color__blue;
				float: left;
				margin: 0.2em;
				padding: 0.2em 0.4em;
				text-decoration: none;

				&:hover {
					background: $color__blue;
					color: #fff;
				}
			}
		}
	}
}