.sticky {
	display: block;
}

.hentry {
	color: $color__gray;
	border-bottom: 4px solid $color__gray-light;
	margin: 0 4em 3em 0;
	padding: 0 0 3em 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Blog */
.entry-header {
	h1.entry-title {
		a {
			text-decoration: none;
		}
	}
}

.entry-meta,
.entry-footer {
	@include font-size(1.4);

	a {
		text-decoration: none;
	}

	.dashicons {
		color: lighten($color__gray, 20%);
		//color: $color__blue;
	}

	.posted-on,
	.byline,
	.cat-links,
	.tags-links,
	.comments-link {
		margin-right: 1em;
	}

	.cat-links,
	.tags-links {

		a {
			//border: 2px solid $color__blue;
			border: 2px solid  $color__gray;
			color: $color__gray;
			display: inline-block;
			margin: 0 0.2em 0.2em 0;
			padding: 0.2em 0.4em;

			&:hover {
				//background: $color__blue;
				//border: 2px solid $color__blue;
				background: $color__gray;
				border: 2px solid $color__gray;
				color: #fff;
			}
		}
	}

	.cat-links {
		.dashicons {
			background: $color__blue;
			border: 2px solid  $color__blue;
		}

		a {
			border: 2px solid $color__blue;
			color: $color__gray;

			&:hover {
				background: $color__blue;
				border: 2px solid  $color__blue;
				color: #fff;
			}
		}
	}

	.tags-links {
		.dashicons {
			background: $color__gray;
			border: 2px solid  $color__gray;
		}
		a {
			border: 2px solid $color__gray;
			color: $color__gray;

			&:hover {
				background: $color__gray;
				color: #fff;
			}
		}
	}
}

.entry-footer {

	.dashicons {
		//height: 30px;
		//width: 30px;
		//text-align: center;
		//vertical-align: middle;
		//background: $color__blue;
		//background: $color__gray;
		color: #fff;
		line-height: inherit;
		padding: 0.2em 0.4em;
		height: auto;
		//padding: 0 .4em;
		width: auto;
		//border: 2px solid $color__blue;
		//border: 2px solid  $color__gray;
		//border: 1px solid $color__blue;
		@include font-size(1.4);
	}

	.dashicons:before {
		//background: $color__blue;
		//border: 2px solid $color__blue;
		//color: #fff;
		//	display: block;
		//clear: both;
		//display: inline-block;
		//float: left;
		//margin: 0.2em;
		//padding: 0.2em 0.4em;
		//height: 30px;
		//width: 30px;
		//padding: 0.2em 0.4em;
		//text-align: center;
		//vertical-align: middle;

	}
}