.sticky {
	display: block;
}

.hentry {
	color: $color__gray;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Blog */

.entry-header {
	h1.entry-title {
		a {
			text-decoration: none;
		}
	}

	.entry-meta {
		@include font-size(1.4);
	}
}